.edit {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  transition: top 0.2s ease-out;
  padding-bottom: 12px;
  grid-template-rows: 60px 1fr;

  &__form {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 24px;
    padding-bottom: 12px;
  }

  &__input {
    background: rgba($color: #767680, $alpha: 0.12);
    color: #3c3c43;
    padding-inline: 8px;
    padding-top: 6px;
    border-radius: 10px;
    height: 36px;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
    overflow: hidden;
    line-height: 24px;
    transition: height .3s ease-out;

    &:focus,
    &:hover {
      background: #ebebeb;
    }
  }

  &__wrap {
    width: 100%;
    padding-bottom: 6px;
    border-bottom: thin dashed rgba($color: #3c3c43, $alpha: 0.3);
    ;
  }

  &__icon {
    width: 16px;
    height: 16px;

    &-delete {
      width: 24px;
      height: 24px;
      border-radius: 50%;

    }
  }

  &__btn {
    color: #00bc4b;
    cursor: pointer;
    border-radius: 14px;
    width: fit-content;

  }

  &-dropdown {
    position: relative;
  }

  &__dropdown {
    position: absolute;
    top: 130%;
    right: 0;
    transform-origin: top right;
    transform: scale(0);
    opacity: 0;

    transition: transform .2s cubic-bezier(.17, .67, .88, 1.1), opacity .2s ease-in;
  }
}